<div class="medium-10 medium-offset-1 columns text-center">
  <h3>welcome page</h3>

    <a href="#" class="button" data-reveal-id="login">Login</a></button>
    <a href="#" class="button" data-reveal-id="signUp">Sign Up</a></button>

    <!-- Modal for Login -->

    <div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= form_for :user, url: "/login" do |f| %>
          <%= f.text_field :email, placeholder: "Enter email", :id => "textField" %><br>
          <%= f.password_field :password, placeholder: "Enter password", :id => "textField" %><br>
          Select language<%= f.select :session_language, [['French', 'fr'], ['Spanish', 'es'], ['German', 'de']] %><br>
          <%= f.submit "Login", :class => 'button' %>
      <% end %>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- Modal for Sign Up -->

    <div id="signUp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= form_for :user, url: "/users" do |f| %>
        <%= f.text_field :name, placeholder: "Choose a Username:", :id => "textField" %><br>
        <%= f.text_field :email, placeholder: "Email:", :id => "textField" %><br>
        <%= f.password_field :password, placeholder: "Password:", :id => "textField" %><br>
        Select language<%= f.select :session_language, [['French', 'fr'], ['Spanish', 'es'], ['German', 'de']] %><br>
        <%= f.submit "create account", :class => 'button' %>
      <% end %>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
