<div class="row">

  <div class="large-4 columns left-bar">

  <!-- Form to switch current language -->

  <!-- Switch Language, Learning, Recommended Left Side Bar --> 

  <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba">Learning: </span></p>
    <div class="panel left_section hvr-underline-from-left" id="left2">
      <% @words.each do |w| %>
          <!-- w[0]: language code (string), w[1]: count (number) -->
          <span class="learning-lang-switch" value="<%= @lang_hash[w[0]][:name] %>"><span class="flag-icon flag-icon-<%= @lang_hash[w[0]][:flag] %>"></span> <%= @lang_hash[w[0]][:name] %> </span>
          <span class="view-lang-lexicon"><a href="/lexicon/<%= @lang_hash[w[0]][:name] %>"><%= w[1] %></a></span><br>
      <% end %>
    </div>

  <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba"> Change Language: </span></p>
      <div class="left_section panel hvr-underline-from-left" id="left1">
      <%= form_for :user_language, remote: true, :html=> {:id => "user_language_change"}, url: '/update' do |f| %>
        <%= f.select :session_language, @lang_dropdown_array %>
        <%= f.button "switch", :class => 'postfix' %>
      <% end %>
      </div>


  <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba">Recommended Texts: </span></p>
    <div class="panel left_section hvr-underline-from-left" id="left3">
        <p>fkjsdklfdsf</p>
        <% @link.each do |w| %>
          Author: <%= w.author %><br>
          Link: <%= w.link %><br>
          Language: <%= w.language %><br>
          <%= w.title %><br>
          <%= w.year %><br>
          <%= form_for :text, url: "/parse" do |f| %>
            <%= f.hidden_field :text, :value => w.link %>
            <%= f.hidden_field 'text_form', :name => 'text_form' %>
            <%= f.submit "render text", :class => 'button' %>
          <% end %>
        <% end %>
      </div>

  </div>

  <div class="large-8 columns content">
  <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba">Paste Text to Parse and Translate: </span></p>
    <div class="panel parse_area">

      <!-- Form to parse the text -->
      <%= form_for :parse, url: '/parse' do |f| %>
  			<%= f.text_area :text, :placeholder => 'Enter text here', :class => 'text_area'%>
  			<%= f.hidden_field 'parse_form', :name => 'parse_form' %><br>
  			<%= f.submit "Parse", :class => 'button', :id => 'parse'%>
  		<% end %>

  	</div>
  </div>

</div>