<div class="row">

  <!-- Switch Language, Learning, Recommended Left Side Bar --> 
  <div class="large-4 columns left-bar">
    <!-- List of languages with known words -->
    <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba">Learning: </span></p>
      <div class="panel left_section hvr-underline-from-left" id="left2">
        <% @words.each do |w| %>
            <!-- w[0]: language code (string), w[1]: word count (number) -->
            <span class="learning-lang-switch" value="<%= @lang_hash[w[0]][:name] %>"><span class="flag-icon flag-icon-<%= @lang_hash[w[0]][:flag] %>"></span> <%= @lang_hash[w[0]][:name] %></span>
            <span class="view-lang-lexicon"><a style="font-size: 12px" href="/lexicon/<%= @lang_hash[w[0]][:name] %>"> - <%= w[1] %> words</a></span><br>
        <% end %>
      </div>
    <!-- Form to switch current language -->
    <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba"> Change Language: </span></p>
      <div class="left_section panel hvr-underline-from-left" id="left1">
      <%= form_for :user_language, remote: true, :html=> {:id => "user_language_change"}, url: '/update' do |f| %>
        <%= f.select :session_language, @lang_dropdown_array %>
        <%= f.button "switch", :class => 'postfix' %>
      <% end %>
      </div>
    <!-- Lit of recommended texts -->
    <p class="special_heading" style="display: inline">
      <span style="border-bottom: 2px solid #58b2ba">Recommended Texts: </span>
      <a href="/recommended">
        <div class="button tiny" style="float: right">
          See All
        </div>
      </a>
    </p>
    <div class="panel left_section hvr-underline-from-left" id="left3">
      <% @link.each do |w| %>
        <!-- One text -->
        <div class="texts-item">
          <span class="flag-icon flag-icon-<%= w.language %>"></span> <span style="font-style: italic"><%= w.title %></span> by <strong><%= w.author %></strong><br>
          <%= form_for :text, url: "/parse" do |f| %>
            <%= f.hidden_field :text, :value => w.link %>
            <%= f.hidden_field :language, :value => w.language %>
            <%= f.hidden_field 'text_form', :name => 'text_form' %>
            <%= f.submit "See Parsed Text", :class => 'tiny postfix render_book' %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>

  <!-- Text box for entering text -->
  <div class="large-8 columns content">
  <p class="special_heading"><span style="border-bottom: 2px solid #58b2ba">Paste Text to Parse and Translate: </span></p>
    <div class="panel parse_area">
      <%= form_for :parse, url: '/parse' do |f| %>
  			<%= f.text_area :text, :placeholder => 'Enter text here', :class => 'text_area'%>
  			<%= f.hidden_field 'parse_form', :name => 'parse_form' %><br>
  			<%= f.submit "Parse", :class => 'button', :id => 'parse'%>
  		<% end %>
  	</div>
  </div>

</div>
