<div class="large-3 columns">
<div class="panel content">
  
  <p class="lead">Learning: </p>

</div>

<div class="panel content">
    <%= form_for :user, url: "/login" do |f| %>
      <label>Choose Your Language: <%= f.select :session_language, @language_array, :id => 'dropdown left' %></label>
      <%= f.submit "Pick Language", :class => 'button tiny submit_lang' %>
    <% end %>
  </div>
  
</div>

<!-- form to parse the text --> 

<div class="large-6 columns">
  <div class="panel content">
		<%= form_for :parse, url: '/parse' do |f| %>
			<%= f.text_area :text, :placeholder => 'Enter text here', :class => 'text_area'%>
			<%= f.hidden_field 'parse_form', :name => 'parse_form' %><br>
			<%= f.submit "Parse", :class => 'button', :id => 'parse'%>
		<% end %>
	</div>
</div>

<!-- Right Sidebar: Recommendations & Languages --> 

<div class="large-3 columns language_dropdown">
  <div class="panel content">
    <p class="lead">Recommended Texts</p>
  </div>

  
</div>


