<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<%= form_for :translate, url: '/translate' do |f| %>
  Enter text here <%= f.text_area :text%>
    <%= f.radio_button_tag(:lang, "es") %>
    <%= f.label_tag(:lang_spanish, "Spanish") %>
    <%= f.radio_button_tag(:lang, "fr") %>
    <%= f.label_tag(:lang_french, "French") %>
    <%= f.submit "Translate" %>
<% end %>