<style>
  
  body {
  font-family: 'Roboto', sans-serif;
  background-image: url(<%= asset_path 'half.png' %>);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top-center;
}

</style>
<div class="row">
  <h1 id="brand-text">parse</h1> 
  <div class="medium-5 columns left paragraph random">
    <p class="lead text-center">Already a User? <a class="login hvr-underline-from-left" href="#" data-reveal-id="login">Login</a>
    <br>Get started by <a class="login hvr-underline-from-left" href="#" data-reveal-id="signUp">Signing Up</a></p>
  </div>
  
  <div class="medium-6 columns right paragraph">

    <p class="lead">We understand that learning a new foreign language is frustrating. That is why we created translate - we want to help simplify the process and motivate you to read and learn more.</p>
    <p class="lead">We generate a list of words that you don’t know. Once you feel like you’ve got the hang of it, you can hide the word. We keep track of your progress so you can focus on learning the actual language. </p>
    
    <!-- <div class="text-center"></div> -->

    <!-- Modal for Login -->
    <div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class="special_heading">Login</p><hr>
      <%= form_for :user, url: "/login" do |f| %>
        <%= f.text_field :email, placeholder: "Enter email", :id => "textField" %>
        <%= f.password_field :password, placeholder: "Enter password", :id => "textField" %>
        <p class="lead">Select language</p><%= f.select :session_language, @lang_dropdown_array %>
        <%= f.submit "Login", :class => 'button' %>
      <% end %>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- Modal for Sign Up -->
    <div id="signUp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class="special_heading">Sign Up</p><hr>
      <%= form_for :user, url: "/users" do |f| %>
        <%= f.text_field :name, placeholder: "Choose a Username:", :id => "textField" %>
        <%= f.text_field :email, placeholder: "Email:", :id => "textField" %>
        <%= f.password_field :password, placeholder: "Password:", :id => "textField" %>
        <p class="lead">Select language</p><%= f.select :session_language, @lang_dropdown_array %>
        <%= f.submit "create account", :class => 'button' %>
      <% end %>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
  </div>
</div>
