<style>
  
  #section0 {
  background-image: url(<%= asset_path 'parse_bg.jpg' %>);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

  #section2 {
  background-image: url(<%= asset_path 'parse_bg.jpg' %>);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  }

  #section3 {
  background-image: url(<%= asset_path 'parse_bg.jpg' %>);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  }

</style>

  <div id="fullpage">
  <div class="section" id="section0" >
    
  <h1 id="brand-text">parse</h1> 
  <div class="medium-4 columns left left paragraph random">
    <p class="lead text-center">Already a User? <a class="login hvr-underline-from-left" href="#" data-reveal-id="login">Login</a>
    <br>Get started by <a class="login hvr-underline-from-left" href="#" data-reveal-id="signUp">Signing Up</a></p>
  </div>
  
  <div class="medium-5 columns right paragraph">

    <p class="lead">We understand that learning a new foreign language is frustrating. That is why we created translate - we want to help simplify the process and motivate you to read and learn more.</p>
    <p class="lead">We generate a list of words that you don’t know. Once you feel like you’ve got the hang of it, you can hide the word. We keep track of your progress so you can focus on learning the actual language. </p>
    </div>

    <div class="medium-5 columns about">
    <a class="hvr-underline-from-left callout_links" href="#secondPage">1. How to Use Parse</a>
    <br><a class="hvr-underline-from-left callout_links" href="/about">2. About the App</a>
    </div>

  <div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class="special_heading">Login</p><hr>
      <%= form_for :user, url: "/login" do |f| %>
        <%= f.text_field :email, placeholder: "Enter email", :id => "textField" %>
        <%= f.password_field :password, placeholder: "Enter password", :id => "textField" %>
        <p class="lead">Select language</p><%= f.select :session_language, @lang_dropdown_array %>
        <%= f.submit "Login", :class => 'button' %>
      <% end %>
      
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- Modal for Sign Up -->
    <div id="signUp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class="special_heading">Sign Up</p><hr>
      <%= form_for :user, url: "/users" do |f| %>
        <%= f.text_field :name, placeholder: "Choose a Username:", :id => "textField" %>
        <%= f.text_field :email, placeholder: "Email:", :id => "textField" %>
        <%= f.password_field :password, placeholder: "Password:", :id => "textField" %>
        <p class="lead">Select language</p><%= f.select :session_language, @lang_dropdown_array %>
        <%= f.submit "create account", :class => 'button' %>
      <% end %>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>

  <div class="section" id="section2">
      <div class="row instructions slide">
        <div class="large-12 columns text-center">
          <p class="lead"><strong>How Does It Work:</strong></p>
          <iframe src="https://www.youtube.com/embed/TqpA0Tn21NQ?rel=0&showinfo=0&theme=light" width="900" height="536" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
  </div>

  <div class="section" id="section3">
    <div class="large-8 large-offset-2 end columns intro">
    <!-- <p class="quote">"To have another language is to possess a second soul."</p> -->
    <h3><strong>About Us:</strong></h3>
      <br><p class="about_us">Our app parses texts and generates a list of words based on the language you choose.</p>
      <p class="about_us">We keep track of words you know and you don't know. We also calculate how much of the text you understand based on how many words you have learned through using our app.</p>
      <p class="about_us">Honestly, just watch the video and you will quickly learn how Parse works.</p>
      <p class="lead">
      <p>Technologies Used:</p>
        <p>Languages: Ruby on Rails, HTML, CSS, jQuery, AJAX
      <br>Microsoft Translator API, Project Gutenberg, Foundation CSS Framework, flag thing plugin
      </p>
      </p>
    </div>
    <div class="large-12 columns text-center" style="margin-top: 170px"><p class="special_heading">Made with a ton of &hearts; by Derek Poppe, Reed Kinning, Stuart Hiller, and Cynthia Wong.</p></div>
</div>
  </div>
</div>

  </div>