<div class="row small">
  <br>
  <div class="medium-9 small-12 columns preview">
    <h4>Preview Text:</h4>
    <p><span id="percentage"><%= @percentage %></span>% of this document can be understood</p>
    <p><span><%= @ratio %></span>% unique words known</p>
    <% @count = 0.0; @parsed.each do |w| %>

        <!--If the user knows the word, print un-highlighted, else print highlighted-->
        <% if @user_known_words.include? w.downcase%>
            <span><%= w%></span>
        <% else %>
        <% @parsed_and_sorted.each do |word| %>

              <% if word[0] == w.downcase %>
                  <% if word[1] > 20 %>
                      <span class="highest-freq <%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% elsif word[1] <= 20 && word[1] > 10 %>
                      <span class="high-freq <%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% elsif word[1] <= 10 && word[1] > 5 %>
                      <span class="medium-freq <%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% elsif word[1] <= 5 && word[1] > 2 %>
                      <span class="low-freq <%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% elsif word[1] <= 2 && word[1] > 0 %>
                      <span class="lowest-freq <%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% else %>
                      <span class="<%= word[0].gsub("'", "_")%>"><%= w%></span>
                  <% end %>
              <% end %>

            <% end %>

        <% end %>

    <% end %>
  </div>

  <h4>Word List:</h4>
  <div class="medium-3 small-12 columns panel right-sidebar mCustomScrollbar">
  
    <% @count = 0.0;  @parsed_sorted_and_compared.each do |word| %>
        <div class="word_known">
          <button class="button tiny" id="word-btn" value="<%= word[0]%>"><%= word[0]%> X <%= word[1]%></button>
          <br>
        </div>
    <% end %>
  </div>
</div>