<h3>welcome page</h3>

<a href="#" data-reveal-id="myModal">Login/Signup</a>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= form_for :user, url: "/login" do |f| %>
      email: <%= f.text_field :email, placeholder: "Enter email" %> <br>
      password: <%= f.password_field :password, placeholder: "Enter password" %> <br>
      <%= f.text_field :session_language, placeholder: "enter language" %><br>
      <%= f.submit "login" %>

  <% end %>

  <%= form_for :user, url: "/users" do |f| %>
      username: <%= f.text_field :name %> <br>
      email: <%= f.text_field :email %> <br>
      password: <%= f.password_field :password %> <br>
      <%= f.text_field :session_language, placeholder: "enter language" %><br>
      <%= f.submit "create account" %>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
