<h1>Translate#index</h1>
<p>Find me in app/views/translate/index.html.erb</p>

<% @count = 0.0; @parsed_and_sorted.each do |word| %>
    <% if word[1] > 20 %>
        <span class="highest-freq"><%= word[0]%></span>
    <% elsif word[1] <= 20 && word[1] > 15 %>
        <span class="high-freq"><%= word[0]%></span>
    <% elsif word[1] <= 15 && word[1] > 10 %>
        <span class="medium-freq"><%= word[0]%></span>
    <% elsif word[1] <= 10 && word[1] > 5 %>
        <span class="low-freq"><%= word[0]%></span>
    <% elsif word[1] <= 5 && word[1] > 0 %>
        <span class="lowest-freq"><%= word[0]%></span>
    <% end %>
<% end %>

