
<div class="row">

<div class="large-8 recommended">

<p class="lead">Recommended Texts:</p>
	
	<% @link.each do |w| %>
	<div class="panel book_info medium-block-grid-2" id="book">
		<img src="https://cdn4.iconfinder.com/data/icons/miu/24/common-bookmark-book-open-outline-stroke-64.png">
		<h4><%= w.title %> by <%= w.author %></h4>
		<span class="special_heading">Language: <%= w.language %> | Year: <%= w.year %> | <a class="hvr-underline-from-left book_link" href="<%= w.link %>">Link to Text</a>
		<br><br>
		<%= form_for :text, url: "/parse" do |f| %>
			<%= f.hidden_field :text, :value => w.link %>
			<%= f.hidden_field :language, :value => w.language %>
			<%= f.hidden_field 'text_form', :name => 'text_form' %>
			<%= f.submit "See Parsed Text", :class => 'postfix' %>
		<% end %>
			</div>
	<% end %>


</div>
</div>