
<div class="row">

<div class="large-8 recommended">

<p class="lead">Recommended Texts:</p>
	
	<% @link.each do |w| %>
	<div class="panel content">
		Author: <%= w.author %><br>
		Link: <%= w.link %><br>
		Language: <%= w.language %><br>
		<%= w.title %><br>
		<%= w.year %><br>
		<%= form_for :text, url: "/parse" do |f| %>
			<%= f.hidden_field :text, :value => w.link %>
			<%= f.hidden_field 'text_form', :name => 'text_form' %>
			<%= f.submit "See Parsed Text", :class => 'postfix' %>
		<% end %>
			</div>

	<% end %>

</div>
</div>