<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- content_for?(:title) ? yield(:title) : "foundation-rails" %>-->
    <title>Parse</title>

    <!-- Browser title icon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link href="assets/stylesheets/hover.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css" />
  </head>

  <body>

    <%= render :partial => "layouts/navbar" unless @disable_navbar %>
  
      <!-- All other html goes in yield below -->
      <%= yield %>

    <script src="http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>

  </body>
</html>
